{% extends 'monitoring/base.html' %}

{% block content %}
    <ul>
        <li><h2>{{ host.host_name }}</h2></li>
        <ul>
            <li><a href="{% url 'monitoring:memory_events' host.id %}">memory</a></li>
            <li><a href="{% url 'monitoring:disk_events' host.id %}">disks</a></li>
            <li><a href="{% url 'monitoring:cpu_events' host.id %}">cpu</a></li>
            <li><a href="{% url 'monitoring:proc_events' host.id %}">processes</a></li>
        </ul>
    </ul>
{% endblock %}
