{% extends 'monitoring/base.html' %}

{% block content %}
    <p>Disk monitoring info for host: {{ host.host_name }}</p>
    {% if form %}
        <form action="{% url 'monitoring:disk_events' host.id %}" method="get">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {% endif %}
    {% if disk_events_graph.div %}
        <div class="monitor-graph">
            {{ disk_events_graph.div | safe }}
        </div>
    {% endif %}
    {% if disk_current_state.div %}
        <div class="monitor-graph">
            {{ disk_current_state.div | safe }}
        </div>
    {% endif %}
    {% if events %}
        <p>Number of events: {{ events|length }}</p>
    {% else %}
        <p>No events available</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if disk_events_graph.script %}
        {{ disk_events_graph.script | safe }}
    {% endif %}
    {% if disk_current_state.script %}
        {{ disk_current_state.script | safe }}
    {% endif %}
{% endblock %}
