{% extends 'monitoring/base.html' %}

{% block content %}
    {% if hosts %}
        {% for host in hosts %}
            <h2><a href="{% url 'monitoring:detail' host.id %}">{{ host.host_name }}</a></h2>
        {% endfor %}
    {% else %}
        <p>No hosts are available.</p>
    {% endif %}
{% endblock %}
