{% extends 'monitoring/base.html' %}

{% block content %}
    <p>Memory monitoring info for host: {{ host.host_name }}</p>
    {% if form %}
        <form action="{% url 'monitoring:memory_events' host.id %}" method="get">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {% endif %}
    {% if ram_events_graph.div %}
        <div class="monitor-graph">
            {{ ram_events_graph.div | safe }}
        </div>
    {% endif %}
    {% if swap_events_graph.div %}
        <div class="monitor-graph">
            {{ swap_events_graph.div | safe }}
        </div>
    {% endif %}
    {% if events %}
        <p>Number of events: {{ events|length }}</p>
    {% else %}
        <p>No events available</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if ram_events_graph.script %}
        {{ ram_events_graph.script | safe }}
    {% endif %}
    {% if swap_events_graph.script %}
        {{ swap_events_graph.script | safe }}
    {% endif %}
{% endblock %}

