{% extends 'monitoring/base.html' %}

{% block content %}
    <p>Process monitoring info for host: {{ host.host_name }}</p>
    {% if form %}
        <form action="{% url 'monitoring:cpu_events' host.id %}" method="get">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {% endif %}

    {% if proc_list %} {{ proc_list|safe }} {% endif %}

    {% if events %}
        <p>Number of events: {{ events|length }}</p>
    {% else %}
        <p>No events available</p>
    {% endif %}
{% endblock %}
{% block scripts %}{% endblock %}
